#Client
CLIENT_URL=*
#DB configs
PORT=4000
DB_HOST=localhost
DB_PORT=3306
DB_USER=testuser
DB_PASSWORD=testpass
DB_NAME=test
#Jwt configs
JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refreh-cecret
JWT_ACCESS_EXPIRES_IN=10m
JWT_REFRESH_EXPIRES_IN=30d